CONFIG_EXPERT=y
CONFIG_PRINTK=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_ARM64_4K_PAGES=y
CONFIG_ARM64_VA_BITS_48=y
# CONFIG_PCI is not set
# CONFIG_ACPI is not set
# CONFIG_KVM is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_ARM_AMBA is not set
# CONFIG_ARM_ARCH_TIMER is not set
# CONFIG_ARM_GIC is not set
# CONFIG_ARM_GIC_V3 is not set
# CONFIG_ARM_GIC_V5 is not set
# CONFIG_ARM_PSCI_FW is not set
# CONFIG_EFI is not set
# CONFIG_HIBERNATION is not set
# CONFIG_KEXEC is not set
# CONFIG_XEN is not set
# CONFIG_SUSPEND is not set
# CONFIG_STACKPROTECTOR is not set
# CONFIG_JUMP_LABEL is not set
# CONFIG_UNMAP_KERNEL_AT_EL0 is not set
# CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY is not set
# CONFIG_RANDOMIZE_BASE is not set
# CONFIG_RELOCATABLE is not set
# CONFIG_ARM64_CONTPTE is not set
